.line {
  &-container {
    @apply container max-w-[430px];
  }

  &-card {
    @apply pt-10 px-8 pb-12 grow flex flex-col bg-white rounded-t-[28px];
  }

  &-text-head {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: start;
  }
  &-text {
    color: #ee3124;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: justify;
    @apply mx-5; /* Assuming a margin of 20px on all sides */
  }

  &-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    @apply mx-5 my-5; /* Assuming a margin of 20px on all sides */
    &-center {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0em;
      @apply mx-5; /* Assuming a margin of 20px on all sides */
    }
  }
  &-circle {
    width: 60px;
    height: 60px;
    background-color: #fdcc53;
    border-radius: 60px;
    @apply mx-auto; /* Center horizontally */
  }
  &-register-button {
    width: 374px;
    height: 48px;
    background-color: #383838;
    color: white;
    border-radius: 60px;
    @apply mx-auto my-2 flex items-center justify-center; /* Center horizontally and add margin */
  }

  &-register-agreement {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 40px;
    gap: 10px;
    background-color: #dddddd;

    @apply mx-auto my-2 flex items-center justify-center; /* Center horizontally and add margin */
  }

  &-register-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: start;
  }
  &-register-body {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  &-terms {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  &-footer {
    position: fixed;
    height: 100px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    &-label {
      font-family: "Kanit";
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &-register-agreement-active {
    background-color: #00bf71;
    color: white;
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 40px;
    gap: 10px;
  }
  &-fixed-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  &-page-container {
    text-align: center;
  }

  &-page-row {
    margin-bottom: 20px; /* หรือปรับตามที่คุณต้องการ */
  }

  &-page-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }

  &-page-button {
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 40px;
    background: #00bf71;
    color: white;
  }
  #termsCheckbox:checked {
    accent-color: #00bf71;
  }
}

// .line-card-a {
//   @apply pt-10 px-5 pb-12 grow flex flex-col bg-white rounded-t-[28px];
// }
