.ant-modal-wrap .ant-modal {
  padding: 0;

  .ant-modal-content {
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 12px 16px 0px #2e2e2e4d;

    .ant-modal-close {
      // display: none;
    }

    .ant-modal-body {
      display: flex;
      flex-direction: column;
    }
  }

  // &.login-modal {
  //   .ant-modal-content {
  //     padding-bottom: 2.5rem;
  //   }
  // }
}
