:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --toastify-icon-color-success: #10b981;
  --toastify-color-progress-success: #10b981;

  --primary-bg: #f5fdf9;

  --c-black: #1e1e1e;
  --c-placeholder: #c2c2c2;

  --c-green: #00a94f;
  --c-green-1: #119c59;
  --c-green-2: #44b87b;
  --c-green-3: #0a6961;

  --c-gray: #a5a5a5;
  --c-gray-1: #cccccc;
  --c-gray-2: #e1e2e9;
  --c-gray-3: #707070;
  --c-gray-4: #f2f3f3;
  --c-gray-5: #949494;
  --c-gray-6: #545454;
  --c-gray-7: #eaeaea;
  --c-gray-8: #5f7c88;

  --c-red: #ee3124;
  --c-red-1: #d94339;

  --c-volcano: #d4380d;
  --c-active: #389e0d;

  --c-yellow: #fdcc53;

  --c-blue: #205daf;

  --c-link: #757575;

  --bg-green: #00bf71;
  --bg-green-hover: #03b86c;
}
